table {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

table,
th,
td,
tr {
  width: 800px;
  border: 0px;
  border-collapse: collapse;
  background-color: white;
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: white;
}

th {
  background-color: rgb(4, 169, 110);
  border: 0px;
  color: white;
  text-align: left;
}

/* Apply styles to the table and its children */
table {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

table,
th,
td,
tr {
  width: 800px;
  border: 0px;
  border-collapse: collapse;
  background-color: white;
  padding: 10px;
}

th {
  background-color: rgb(4, 169, 110);
  border: 0px;
  color: white;
  text-align: left;
}

/* Apply alternate row colors to td elements */
tr:nth-child(even) td {
  background-color: #f2f2f2; /* Use your desired alternate color here */
}
